*.xlsx
*.csv
*.xls

!/00框架文件/*

# 备忘
# / 表示 当前文件所在的目录

# 忽略public下的所有目录及文件
# /public/*

#不忽略/public/assets，就是特例的意思，assets文件不忽略
# !/public/assets

# 忽略具体的文件
# index.php

# 忽略所有的php
# *.php

# 忽略 a.php b.php
# [ab].php

#匹配规则和linux文件匹配一样
#以斜杠“/”开头表示目录；
#以星号“*”通配多个字符；
#以问号“?”通配单个字符
#以方括号“[]”包含单个字符的匹配列表；
#以叹号“!”表示不忽略(跟踪)匹配到的文件或目录；